@use 'reset';
@use 'variables/global';
@use 'themes/light';
@use 'themes/dark';
@use 'fonts/fonts';

body {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}