.text {
    &.primary {
        color: var(--primary-color);
    }

    &.secondary {
        color: var(--secondary-color);
    }

    &.error {
        color: var(--error);
    }

    &.size_m {
        font: var(--font-m);
    }

    &.size_l {
        font: var(--font-l);
    }

    &.size_xl {
        font: var(--font-xl);
    }
}