.collapsButtonDeprecated {
    z-index: 9;
}

.collapsButton {
    position: absolute;
    right: 0;
    top: 50%; 
    cursor: pointer;
    transform: rotate(90deg);

    &.collapsed {
        transform: rotate(270deg);
        right: 10px;
    }
}