.dropdown {
    &Menu {
        display: flex;
        flex-direction: column;
        background-color: #d5d5d7;
        position: absolute;
        z-index: 10000;
        border-radius: 8px;
        border: 1px solid var(--primary-color);

        &Item {
            padding: 10px 25px;
            width: 100%;
            border: none;
            background: none;
            outline: none;
            color: var(--primary-color);
            cursor: pointer;
        }
    }
}