.articlesPage {
    &Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}