.listBox {
    position: relative;

    &Trigger {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
    }

    &Options {
        background-color: #d5d5d7;
        position: absolute;
        z-index: 10000;
        box-shadow: 4px 4px 8px #d5d5d7;

        &.top {
            bottom: 100%
        }

        &Item {
            padding: 10px 20px;

            &.focus {
                background-color: var(--inverted-bg-color);
            }

            &.disabled {
                opacity: 0.5;
            } 
        }
    }
}