.listBox {
    width: fit-content;    

    &Options {
        background-color: #d5d5d7;
        position: absolute;
        z-index: 10000;
        box-shadow: 4px 4px 8px #d5d5d7;

        &Item {
            padding: 10px 20px;

            &.disabled {
                opacity: 0.5;
            } 
        }
    }
}