.listBox {
    width: fit-content;    

    &Options {
        background: var(--dark-bg-redesigned);
        position: absolute;
        z-index: 10000;
        box-shadow: 4px 4px 8px var(--dark-bg-redesigned);

        &Item {
            padding: 10px 20px;

            &.disabled {
                opacity: 0.5;
            } 
        }
    }
}