.select {
    background: none;
    border: 1px solid var(--primary-color);
    font: var(--font-m);
    color: var(--primary-color);
    padding: 10px;
    width: 100%;
    cursor: pointer;
    outline: none;
}