.drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;

    &.opened {
        opacity: 1;
        pointer-events: auto;
        z-index: var(--modal-z-index);
    }

    &Overlay {
        width: 100%;
        height: 100%;
        background: var(--overlay-color);
        display: flex;
        align-items: end;
        justify-content: center;
    }

    &Content {
        height: 70%;
        background: var(--bg-color);
        bottom: 0;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        position: relative;
        width: 100%;
        min-height: 100px;
        padding: 20px;
        transition: 0.3s transform;
        transform: translateY(100%);
        overflow-y: auto;
        overflow-x: hidden;

        &.opened {
            transform: translateY(0%);
        }

        &.closing {
            transform: translateY(100%);
        }
    }
}

.sheet {
    z-index: 100;
    position: fixed;
    left: 2vw;
    height: calc(100vh + 100px);
    width: 96vw;
    border-radius: 12px 12px 0;
    background: var(--bg-color);
    touch-action: none;
    padding: 15px;
}