.addCommentForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border: 1px solid var(--primary-color);
    padding: 15px;
    margin-bottom: 22px;
}