.dropdown {
    position: relative;
    
    &Trigger {
        background: none;
        outline: none;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
    }

    &Menu {
        display: flex;
        flex-direction: column;
        background-color: #d5d5d7;
        position: absolute;
        z-index: 10000;
        border-radius: 8px;
        border: 1px solid var(--primary-color);

        &.topRight {
            bottom: 100%;
            right: 0;
        }

        &.topLeft {
            bottom: 100%;
            left: 0;
        }

        &.bottomRight {
            top: 100%;
            left: 0;
        }

        &.bottomLeft {
            top: 100%;
            right: 0;
        }

        &Item {
            padding: 10px 25px;
            width: 100%;
            border: none;
            background: none;
            outline: none;
            color: var(--primary-color);
            cursor: pointer;

            &.focus {
                background-color: var(--inverted-primary-color);
            }
        }
    }
}