.articleListItemBig {
    border: 1px solid var(--primary-color);

    &Header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;
        padding: 15px 15px 0 15px;

        &Header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &Author {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        &Types {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &Image {
        margin-bottom: 10px;
    }

    &Text {
        margin-bottom: 50px;
        padding: 0 15px;
    }

    &Footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 15px 15px;

        & a {
            text-decoration: none;
        }

        &Views {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}